
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 280px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;
    padding: 2rem;
    width: 350px;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

body{
  background-color: rgb(72, 116, 116);
}

footer{
  background-color: darkgreen;
  height: 50px;
  color: white;
}

h1{
  color: wheat;
}
  .principal{
    background-color: rgb(34, 21, 100);
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    
  }

  img{
    border-radius: 50%;
    padding: 2rem;
    width: 350px;
    cursor: pointer;
  }


  /* Cuando es de padre a hijo, el hover se escribe asi, pero cuando es entre hermanos va con un signo +. */


  .bloque:hover .parrafo{
    display: block;
    justify-content: space-between;
  }

  
  .bloque{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 75%;
    background-color: rgb(213, 236, 229);
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 5px;
    border-radius: 5%;
  }

  .bloque .parrafo{
    display: none;
  }

  ul{
    padding: 5px;
    font-size: 1.2rem;
  }

  ul:hover{
    background-color: blueviolet;
    text-decoration: underline;
    
  }

  h2{
    margin-bottom: 5px;
  }
  